<nav class="navbar bg-dark" style="margin-bottom: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1  style="color: #fff;">SMS</h1></a>
    <div class="d-flex flex-row-reverse" style="gap: 10px;">
      <button class="p-2 btn btn-warning">Logout</button>
      <button class="p-2 btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Add Student</button>
      <button class="p-2 btn btn-success" routerLink="/register">Register</button>
      <button class="p-2 btn btn-danger">Login</button>
    </div>
  </div>
</nav>
<div class="container" style="overflow-x: scroll;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Father Name</th>
        <th scope="col">Fees</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let value of data">
      <tr>
        <td scope="row">{{value.id}}</td>
        <td>{{value.name}}</td>
        <td>{{value.fathername}}</td>
        <td>{{value.fees}}</td>
        <td>{{value.email}}</td>
        <td>{{value.mobileno}}</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                  (click)="editData(value.id)"
                  >
            Edit
          </button>
          <button
          type="button"
          class="btn btn-link btn-rounded btn-sm fw-bold"
          data-mdb-ripple-color="dark"
          (click)="deleteStudent(value.id)">
    Delete
  </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Student Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="body">
        <div class="containers">
          <form [formGroup]="addStudentForm" (ngSubmit)="addStudent()">
            <div class="form-row">
              <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" formControlName="name">
              </div>
              <div class="form-group">
                <label for="email">Father's name:</label>
                <input class="form-control" type="text" id="Father" name="Father" formControlName="fathername" >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="phone">Email:</label>
                <input class="form-control" type="email" id="email" name="email" formControlName="email">
              </div>
              <div class="form-group">
                <label for="experience">Class:</label>
                <input class="form-control" type="text" id="class" name="class" formControlName="class">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="previousCompany">Fees:</label>
                <input class="form-control" type="tel" id="Fees" name="Fees" formControlName="fees">
              </div>
              <div class="form-group">
                <label for="currentCompany">Phone no:</label>
                <input class="form-control" type="tel" id="Phone" name="Phone" formControlName="mobileno">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="Profile">Address:</label>
                <input class="form-control" type="text" id="Address" name="Address   " formControlName="address">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Student Register </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabe2"> Update Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="body">
        <div class="containers">
          <form [formGroup]="addStudentForm" (ngSubmit)="updateData()">
            <div class="form-row">
              <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" formControlName="name" >
              </div>
              <div class="form-group">
                <label for="email">Father's name:</label>
                <input class="form-control" type="text" id="Father" name="Father" formControlName="fathername" >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="phone">Email:</label>
                <input class="form-control" type="email" id="email" name="email" formControlName="email">
              </div>
              <div class="form-group">
                <label for="experience">Class:</label>
                <input class="form-control" type="text" id="class" name="class" formControlName="class">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="previousCompany">Fees:</label>
                <input class="form-control" type="tel" id="Fees" name="Fees" formControlName="fees">
              </div>
              <div class="form-group">
                <label for="currentCompany">Phone no:</label>
                <input class="form-control" type="tel" id="Phone" name="Phone" formControlName="mobileno">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="Profile">Address:</label>
                <input class="form-control" type="text" id="Address" name="Address   " formControlName="address">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"(click)="updateData()">Update Student</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

