.login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_section{
  display: grid;
  grid-template-columns: 60% 30%;
  margin-top: 8rem;
}
.navbar-brand{
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}
.home{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%
}

h3 {
  color: #333;
  font-family: sans-serif;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 19px;
}

button:hover {
  background-color: #0056b3;
}
.login-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.login-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.login-image img {
  max-width: 100%;
  height: auto;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.signup-link{
  margin-top: 1rem;
}
a{
  text-decoration: none;
  cursor: pointer;
  color:#007bff;
}

@media screen and (min-width:250px) and (max-width:768px){

.login_section{
  display: grid;
  grid-template-columns:100%;
}

.login-form {
margin: auto;
}

}
.error-message{
  color: red;
  font-size: 12px;
  text-align: left;
  margin-bottom: 15px;
}
